[submodule "dependencies/flatbuffers"]
	path = dependencies/flatbuffers
	url = https://github.com/google/flatbuffers.git
[submodule "dependencies/libsimdpp"]
	path = dependencies/libsimdpp
	url = https://github.com/p12tic/libsimdpp.git
[submodule "dependencies/libsamplerate"]
	path = dependencies/libsamplerate
	url = https://github.com/libsndfile/libsamplerate.git
[submodule "dependencies/zita-resampler"]
	path = dependencies/zita-resampler
	url = https://github.com/digital-stage/zita-resampler.git
