[submodule "dependencies/flatbuffers"]
	path = dependencies/flatbuffers
	url = https://github.com/google/flatbuffers.git
	branch = tag/v2.0.0
[submodule "dependencies/libsimdpp"]
	path = dependencies/libsimdpp
	url = https://github.com/p12tic/libsimdpp.git
[submodule "dependencies/libsamplerate"]
	path = dependencies/libsamplerate
	url = https://github.com/libsndfile/libsamplerate.git
